
.banner-container{
    background-image:url(/img/about.jpg);
    height:max-content;
    background-attachment:fixed;
    box-shadow: inset 0 0 0 2000px #1f1e1e7a;
    text-align:center;
    padding:160px 15px;
}


.abc{
    border-radius: 25%;
    border:solid 1px rgb(146, 141, 141);
    margin:20px;
    height:140px;
    width:140px;
}
